<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1095655060258-r745v1h5hktnvgbpe1olj15i2q8al508.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095655060258-r745v1h5hktnvgbpe1olj15i2q8al508</string>
	<key>API_KEY</key>
	<string>AIzaSyAf80o4IQLhm3aB0iidoJZ3WwxOXkH1ros</string>
	<key>GCM_SENDER_ID</key>
	<string>1095655060258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.colorvelvetusus</string>
	<key>PROJECT_ID</key>
	<string>colorvelvetus</string>
	<key>STORAGE_BUCKET</key>
	<string>colorvelvetus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095655060258:ios:734d9bb722d776e37dab7b</string>
</dict>
</plist>